extends layout 

block content 
    header(class='header')  
        h1(class='title')= title

        div(class="subheading")
            h4(class='subheading-text-2') Say something nice.

        div(class='link') 
            a(href="/") < go back 

    section(class='wrapper')
        div(class='form')
            form(action="/new" method="POST")
                fieldset  
                    div(class='form-fields')
                        div(class='field-name')
                            label(for="name") Name: 
                            input(type="text" name="name" value="name")

                        div(class="field-msg")
                            label(for="message") Message: 
                            textarea(type="textarea" name="message" value="name")

                    input(class='btn' type="submit", value="Submit")
    
    