extends layout

block content
  h1= title
  p Sup TOP staff

  div 
    ul 
      each msg, i in message ? message : []
        li= i + ': ' + msg.text
        li= i + ': ' + msg.user
        li= i + ': ' + msg.added