doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  footer(class='footer')
    span(class='footer-text') Created by 
    a(href='https://github.com/fernie-cpu' target='_blank')
      span fernie 
    span with the help of 
    a(href='https://theodinproject.com' target='_blank')
      span(class='odin') The Gods